<!doctype html>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:;base64,=">
<!-- <link rel="stylesheet" type="text/css" href="/main.css" /> -->

<style>
  :root {
    background-color: hsl(200, 5%, 10%);
    color: white;
  }

  input, textarea {
    background-color: inherit;
    color: inherit;
  }

  .block {
    display: block;
  }

  .gaps-v-1 > :not(:first-child) {
    margin-top: 1rem;
  }

  .gaps-v-0x5 > :not(:first-child) {
    margin-top: 0.5rem;
  }
</style>
